name: 1 Reset Git History

on:
  workflow_dispatch:  # 仅手动触发

permissions:
  contents: write

jobs:
  reset:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Reset history
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git checkout --orphan temp_branch
          git add .
          git commit -m "set"
          git branch -D main
          git branch -m main
          git push -f origin main
